#### 1. Créer un dataframe df en important le fichier pokemon.csv (disponible sur Moodle)avec la colonne Name comme index. Afficher le data frame. Afficher les informations générales sur ce dataframe

In [1]:
import pandas as pd
pk = pd.read_csv('../../../Data/tp2-3/pokemon.csv',sep=',',index_col='Name')

#### 2. Afficher les 10 premières lignes de df

In [2]:
pk.head(10)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False
Charizard,6,Fire,Flying,534,78,84,78,109,85,100,1,False
CharizardMega Charizard X,6,Fire,Dragon,634,78,130,111,130,85,100,1,False
CharizardMega Charizard Y,6,Fire,Flying,634,78,104,78,159,115,100,1,False
Squirtle,7,Water,NaN,314,44,48,65,50,64,43,1,False

#### 3. Afficher la colonne “Type 2”.

In [3]:
pk['Type 2']

Name
Bulbasaur                Poison
Ivysaur                  Poison
Venusaur                 Poison
VenusaurMega Venusaur    Poison
Charmander                  NaN
                          ...
Diancie                   Fairy
DiancieMega Diancie       Fairy
HoopaHoopa Confined       Ghost
HoopaHoopa Unbound         Dark
Volcanion                 Water
Name: Type 2, Length: 800, dtype: str

#### 4. Remplacer les valeurs NaN dans la colonne ‘Type 2’ par ‘’ (i.e. le caractère vide).

In [4]:
print(pk["Type 2"].isna().sum())

##
pk.loc[pk['Type 2'].isna(), 'Type 2'] = ''
##

print(pk["Type 2"].isna().sum())

386
0

#### 5. Supprimer les colonnes “#”, “Sp. Atk” et “Sp. Def” de df. Essayer de le faire en 1 ligne.

In [5]:
check_box = {"#","Sp. Atk", "Sp. Def"}
if check_box.issubset(pk.columns):
    pk = pk.drop(columns=check_box)
pk.head()

,Type 1,Type 2,Total,HP,Attack,Defense,Speed,Generation,Legendary
Name,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,60,1,False
Venusaur,Grass,Poison,525,80,82,83,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,80,1,False
Charmander,Fire,,309,39,52,43,65,1,False